<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('partials/head') %>
</head>
<body class="splash">
  <div class="logo-container">
    <img src="/images/logo.png" alt="CarSpec">
  </div>
</body>
</html>
